# Python
venv/
pycache/
*.pyc
db.sqlite3
.env

# Node / React
node_modules/
build/
dist/
*.log

# VS Code
.vscode/

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.sqlite3

# Django secret files
*.log
*.pot
*.pyc
*.pyo
*.db

# Environment variables
.env

# Static & media
staticfiles/
media/

# VSCode settings 
.vscode/
