@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.cost-container {
  background-color: #1f1f2f;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  padding: 60px 40px;
}

.cost-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.cost-chart {
  max-width: 900px;
  margin: 0 auto;
  background-color: #2a2a3d;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cost-loading {
  font-size: 1.1rem;
  color: #ccc;
  margin-top: 40px;
}


.primary-btn  {
background: linear-gradient(135deg, #057e76, #8604a0);
color: white;
padding: 10px 20px;
border-radius: 8px;
border: none;
font-weight: 600;
cursor: pointer;
}
